/* HotSpots
   ========================================================================== */
.wpbits-afe-hotspots {
  --spot-width: 24px;
  --spot-height: 24px;
  --spot-bg-color: #fff;
  --spot-content-bg-color: #fff;
  --spot-line-color: #0aaac6;
  --spot-line-width: 2px;
  --spot-content-width: 200px;
  --spot-content-color: #444444;
  --spot-heading-color: #444444;
  --spot-x: 50%;
  --spot-y: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wpbits-afe-hotspots > img {
  position: relative;
  z-index: 1;
}
.wpbits-afe-hotspots figure, .wpbits-afe-hotspots img {
  width: 100%;
}
.wpbits-afe-hotspots .spot {
  position: absolute;
  z-index: 2;
  left: var(--spot-x);
  top: var(--spot-y);
}
.wpbits-afe-hotspots .spot:before {
  content: "";
  height: var(--spot-height);
  width: var(--spot-width);
  border-radius: 50%;
  position: absolute;
  background: var(--spot-bg-color);
  border: 3px solid transparent;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.31), inset 0 0 0 var(--spot-line-width) var(--spot-line-color);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.31), inset 0 0 0 var(--spot-line-width) var(--spot-line-color);
  -webkit-animation: hotspot 1.2s linear infinite;
          animation: hotspot 1.2s linear infinite;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.wpbits-afe-hotspots .spot .spot-content-wrapper {
  padding-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: var(--spot-content-width);
  max-width: 80vw;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.wpbits-afe-hotspots .spot .spot-content {
  background: var(--spot-content-bg-color);
  border-radius: 10px;
  padding: 15px;
  font-size: 0.875em;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.31);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.31);
  color: var(--spot-content-color);
}
.wpbits-afe-hotspots .spot .spot-content p:last-child {
  margin: 0;
}
.wpbits-afe-hotspots .spot .spot-content:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border-style: solid;
  border-color: var(--spot-content-bg-color) transparent transparent;
  border-width: 10px;
  bottom: -4px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}
.wpbits-afe-hotspots .spot .wpbits-afe-hotspot-heading {
  margin: 0 0 0.25em;
  padding: 0;
  color: var(--spot-heading-color);
}
.wpbits-afe-hotspots .spot:hover .spot-content-wrapper {
  visibility: visible;
}

@-webkit-keyframes hotspot {
  from {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
  50% {
    -webkit-transform: scale(1.4) translateX(-50%);
            transform: scale(1.4) translateX(-50%);
  }
  to {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}

@keyframes hotspot {
  from {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
  50% {
    -webkit-transform: scale(1.4) translateX(-50%);
            transform: scale(1.4) translateX(-50%);
  }
  to {
    -webkit-transform: scale(1) translateX(-50%);
            transform: scale(1) translateX(-50%);
  }
}
